strong, b {
  color: rgb(224, 0, 0);
}
i, em {
  color: rgb(224, 224, 255);
  background-color: rgb(224, 224, 255);
}
#write {
  white-space: normal;
}
.md-fences.mock-cm {
    white-space: pre;
}
.md-fences {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}
